@import "tailwindcss";

@theme {
  --color-primary: #1B5E20;
  --color-secondary: #89CE8C;
  --color-tertiary: #7E6D3C;
  --color-customBlack: #303030;
  --color-customWhite: #F5F5F5;
  --font-lato: "Lato", sans-serif;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}